{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    <h1>S'enregistrer</h1>


    <div class="container-register">
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.birthAt) }}

        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Valider</button>
        {# <button type="submit" class="btn">Valider</button> #}
    {{ form_end(registrationForm) }}

    </div>


    <div class="container-login">
        <p>Déjà inscrit ?</p>
        <a href="{{ path('app_login') }}">Se connecter</a>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}    
{% endblock %}

