{% extends "base.html.twig" %}


{% block body %}
    
    <h1>Crée ta recette</h1>
    <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center">
        <div class="col-md-6">
 {# ce que je veux afficher sur mon form  #}
    
            {{ form_start(form) }}     
    <div class="col-12">
            {{ form_row(form.title) }}
            {{ form_row(form.image) }}             
            {{ form_row(form.duration) }}    
            {{ form_row(form.difficult) }}  
            {{ form_row(form.nbPeople )}} 
            {{ form_row(form.content )}} 
           


	        <button type="submit ">Soumettre</button>

            {{form_end(form)}}

  

{% endblock %}