{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!
{% endblock %}

{% block body %}

	<div class="container">


		<h1>Recettes de Marmite Ronde</h1>

		{#boucle pour afficher une recette par cards#}
		<div class="row g-5">

			{% for recipe in recipes %}


				<div class="col-md-4 col-lg-4 col-sm-6">
					<div class="card h-100">
						<img src="{{recipe.image}}" class="card-img-top object-fit-cover image"  alt="photo de la recette.">
						<div class="card-body">
							<h5 class="card-title">
								Titre :{{recipe.title}}</h5>
							<p class="card-difficult">
								difficulté :{{recipe.difficult.name}}
							</p>
							<p class="card-user">
								Auteur :{{recipe.user.pseudo}}
							</p>

							<p class="card-duration">
								durée :{{recipe.duration}}mn</p>


							{# <p class="card-autor">Auteur :{{recipe.user_id}}</p> #}


							<a href="{{path('recipe_show',{'id' : recipe.id})}}" class="btn btn-warning">détail</a>
						</div>
					</div>
				</div>

			{% endfor %}
		</div>
	</div>
{% endblock %}
