
{% extends 'base.html.twig' %}



{% block body %}
     <style>
        .example-wrapper { margin: 1em auto;
         max-width: 800px;
         width: 95%; 
         font: 18px/1.5 sans-serif;
         }
        .example-wrapper code { background: #F5F5F5;
         padding: 2px 6px;
          }
    </style> 

     <div class="example-wrapper">
        <h1>Recette</h1>   

		<h1 class="card-title">{{recipe.title}}</h1>

		<div class="card">
			<img src="{{recipe.image}}" class="card-img-top" alt="photo de la recette." >
		    <div class="card-body">
                <div>Auteur : {{recipe.user.pseudo}}</div> 
               

            <div>Nombres de personnes : {{recipe.nbPeople}} pers </div>
            <div>durée : {{recipe.duration}} mn</div>	

			   
			<p class="card-category">difficulté : {{recipe.difficult.name}}</p>

			 {% for ingredient in recipe.ingredients %}
                    <div>ingrédients : {{ingredient.name}}</div>
             {% endfor %}	    
			   

            <div>date de création : {{recipe.createdAt|date("d/m/Y")}}</div>          
            
     </div>
        
     <div>
        {% for comment in recipe.comments %}
       <p>nom : {{comment.user.pseudo}}</p>
      <p>commentaire :  {{comment.content}}</p>       
         {% endfor %}
          <a type="submit" href="{{path('comment_create')}}">créer un commentaire</a>
     </div>
	
    {% endblock %} 